@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    font-family: 'Lato', sans;
    width:100%;
}
#header {
    min-height: 12.5em;
    padding-left: 2.0em;
    padding-bottom: 2.0em;
    border-bottom-color: black;
    border-bottom-width: 5px;
}

#header h1 {
    display:inline;
    margin-right: 1.25em;
}

#header span, #header select {
    font-size: 1.25em;
    margin-right: 1.25em;
}

#logo {
    height: 6em; 
    width: auto;
    margin-bottom: 1em;
    margin-top: 0.938em;
}
#locButton {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 2em;
    height: 2em;
    font-size: 30px;
}

#mapContainer {
    left:0;
    height: calc(100% - 20em);
    width: 100%;
}
#map, #overlay {
    left:0;
    position:absolute;
    height: calc(100% - 20em);
    width: 100%;
}
#overlay {
    height: calc(100% - 20em); 
    width:100%;
    z-index:1001;
    display:none;
}

#progress {
    height:25%;
    width:25%;
    margin-top: 5%;
    margin-left:37.5%;
}

#bdb {
    height:3.125em;
    position:relative;
    bottom: -4em;
}
.logoBox {
    padding: 0.313em;
    text-align: center;
    font-family:serif;
    font-size: 15px;
}
.brewerLogo {
    display: block;
    margin: auto;
    width: 3.125em;
}

.awesome-marker i {
    font-size: 1.25em;
    margin-top: 0.5em;
 }
.legend {
    line-height: 1.875em;
    color: #555;
    background-color: white;
    height: 10.938;
    opacity: 0.7;
}
.legend i {
    width: 2.5em;
    height: 1.875em;
    float: left;
    margin-right: 0.5em;
    opacity: 0.9;
}


#titleDiv{
}

#personsDiv {
    display: inline-block;
}

#personsDiv div {
    display: inline-block;
    margin-right: 10px;
}


.personName {
    height: 3.5em;
    width: 300px;
}

#searchButton {
    display: inline-block;
}
.smallImg {
    height:6.250em;
    width:auto;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    z-index:1002;
}

#modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#modalContent input {
    width: calc(100% - 7em);
    height: 3em;
}

#modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modalClose:hover,
#modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.navLink:link {
    color: white;
}

.navLink:visited {
    color: white;
}

.navLink:hover {
    color: white;
}

.navLink:active {
    color: white;
}

#addButton, #searchButton {
    padding: 1.5em;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}


