@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    font-family: 'Lato', sans;
}
#header {
    min-height: 200px;
}

#header h1 {
display:inline;
    margin-right: 20px;
}

#header span, #header select {
    font-size: 20px;
    margin-right: 20px;
}

#logo {
    height: 75px; 
    width: auto;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-top: 15px;
}

#mapContainer {
    left:0;
    height: calc(100% - 250px);
    width: 100%;
}
#map, #overlay {
    left:0;
    position:absolute;
    height: calc(100% - 250px);
    width: 100%;
}
#overlay {
    height: calc(100% - 250px); 
    width:100%;
    z-index:1001;
    display:none;
}

#progress {
    height:25%;
    width:25%;
    margin-top: 5%;
    margin-left:37.5%;
}

#bdb {
    bottom:0px; 
    height:50px;
}
.logoBox {
    padding: 5px;
    text-align: center;
    font-family:serif;
    font-size: 15px;
}
.brewerLogo {
    display: block;
    margin: auto;
    width: 50px;
}

.awesome-marker i {
    font-size: 20px;
    margin-top: 8px;
 }
.legend {
    line-height: 30px;
    color: #555;
    background-color: white;
    height: 175px;
    opacity: 0.7;
}
.legend i {
    width: 40px;
    height: 30px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}


#titleDiv{
}

#personsDiv {
    display: inline-block;
    margin-left: 50px;
}

#personsDiv div {
    display: inline-block;
}


.personName {
    width: 250px
}

#searchButton {
    display: inline-block;
}
.smallImg {
    height:100px;
    width:auto;

}
