<html>
<!DOCTYPE HTML>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<head>
    <title>
        NearBeer
    </title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css"/>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" type="text/css"/>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" type="text/css"/>
    <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/nearbeer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet/leaflet.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}">
    <script src="{{ url_for('static',filename='js/progressbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-multiselect.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}" type="text/css"/>
    <script src="{{ url_for('static', filename='js/nearbeer.js') }}"> </script>
</head>
<body>
    <div id="header" >
        <div id="titleDiv">
            <img id="logo" src="{{ url_for('static',filename='logo.png') }}"></img>
        </div>
        <div id="personsDiv">
            <div id="person1">
                <input id="name1" class="personName" value="Person1"></input><br>
                <select  id="typeSelect1" multiple="multiple">
                </select>
            </div>
        </div>
        <button id="addButton" class="btn-lg btn-success"> + </button>
        <button id="searchButton" class="btn-lg btn-warning" >Search</button>
    </div>
    <div id="mapContainer">
        <div id="overlay">
            <div id="progress"></div>
        </div>
        <div id="map" ></div>
    </div>
    <img id="bdb" src="{{ url_for('static',filename='bdb.png') }}"></img>
    </body>
</html>
