<html>
<!DOCTYPE HTML>
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<meta name="viewport" content="width=device-width, initial-scale=.7, maximum-scale=.7, user-scalable=no">
<head>
    <title>
        NearBeer
    </title>
    <!--Cross Platform Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/apple-icon-76x76.png"> <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/manifest.json">
    <meta name="theme-color" content="#f15524">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/ms-icon-144x144.png">
    <!--3rd party imports -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" type="text/css"/>
    <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet/leaflet.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}">
    <script src="{{ url_for('static',filename='js/progressbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-multiselect.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}" type="text/css"/>
    <!--local immports -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/nearbeer.css') }}">
    <script src="{{ url_for('static', filename='js/turf.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/beerIcons.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/geoCode.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/nearbeer.js') }}"> </script>
</head>
<body>
    <div id="modal">
        <div id="modalContent">
            <div id="modalClose">&times;</div>
            <h4>Update your location</h4>
            <input id="adressInput" placeholder="Enter your address" </input>
            <button class="btn-lg btn-success" id="setLocButton" >ok</button>
        </div>
    </div>
    <button class="btn btn-primary btn-lg" id="locButton" title="Update your Location"><i class="icon ion-android-locate"></i></button>
    <div id="header" >
        <div id="titleDiv">
            <img id="logo" src="{{ url_for('static',filename='logo.png') }}"></img>
        </div>
        <div id="personsDiv">
            <div id="person1">
                <input id="name1" class="personName" value="Person1"></input><br>
                <select  id="typeSelect1" multiple="multiple">
                </select>
            </div>
        </div>
        <button id="addButton" class="btn btn-success btn-lg" title="Add a new person"> + </button>
        <button id="searchButton" class="btn btn-warning btn-lg" title="Search this area" >Search</button>
    </div>
    <div id="mapContainer">
        <div id="overlay">
            <div id="progress"></div>
        </div>
        <div id="map" ></div>
    </div>
    <img id="bdb" src="{{ url_for('static',filename='bdb.png') }}"></img>
    <a id="reportLink" href="static/NearBeerDevelopmentLog.pdf">Development Report</a>
    </body>
</html>
