<html>
<!DOCTYPE HTML>
<head>
    <title>
        Assignment 4
    </title>
    <script src="{{ url_for('static',filename='js/sjcl.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='js/jquery-ui-1.12.1.custom/jquery-ui.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/assignment9.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
    </head>
<body>
    state:
    <select id="state" value="Iowa" >
        <option value="Alabama">Alabama</option>
        <option value="Alaska">Alaska</option>
        <option value="Arizona">Arizona</option>
        <option value="Arkansas">Arkansas</option>
        <option value="California">California</option>
        <option value="Colorado">Colorado</option>
        <option value="Connecticut">Connecticut</option>
        <option value="Delaware">Delaware</option>
        <option value="Florida">Florida</option>
        <option value="Georgia">Georgia</option>
        <option value="Hawaii">Hawaii</option>
        <option value="Idaho">Idaho</option>
        <option value="Illinois">Illinois</option>
        <option value="Indiana">Indiana</option>
        <option value="Iowa">Iowa</option>
        <option value="Kansas">Kansas</option>
        <option value="Kentucky">Kentucky</option>
        <option value="Louisiana">Louisiana</option>
        <option value="Maine">Maine</option>
        <option value="Maryland">Maryland</option>
        <option value="Massachusetts">Massachusetts</option>
        <option value="Michigan">Michigan</option>
        <option value="Minnesota">Minnesota</option>
        <option value="Mississippi">Mississippi</option>
        <option value="Missouri">Missouri</option>
        <option value="Montana">Montana</option>
        <option value="Nebraska">Nebraska</option>
        <option value="Nevada">Nevada</option>
        <option value="New ">New Hampshire</option>
        <option value="New ">New Jersey</option>
        <option value="New ">New Mexico</option>
        <option value="New ">New York</option>
        <option value="North ">North Carolina</option>
        <option value="North ">North Dakota</option>
        <option value="Ohio">Ohio</option>
        <option value="Oklahoma">Oklahoma</option>
        <option value="Oregon">Oregon</option>
        <option value="Pennsylvania">Pennsylvania</option>
        <option value="Rhode ">Rhode Island</option>
        <option value="South ">South Carolina</option>
        <option value="South ">South Dakota</option>
        <option value="Tennessee">Tennessee</option>
        <option value="Texas">Texas</option>
        <option value="Utah">Utah</option>
        <option value="Vermont">Vermont</option>
        <option value="Virginia">Virginia</option>
        <option value="Washington">Washington</option>
        <option value="West ">West Virginia</option>
        <option value="Wisconsin">Wisconsin</option>
        <option value="Wyoming">Wyoming</option>
    </select>
    password:
    <button id="begin">Begin</button><br>
    <input type="radio" name="font" value="serif" checked="checked"> Serif </input>
    <input type="radio" name="font" value="sans-serif"> Sans Serif </input> <br>
    
    <input type="radio" name="fontsize" value="15px" checked="checked"> 15px </input>
    <input type="radio" name="fontsize" value="25px" > 25px </input>
    <input type="radio" name="fontsize" value="35px" > 35px </input> <br>
    image size:
    <div id="slider" ></div>
    <div id="map" ></div>
    <div id="output"></div >
    <script src="{{ url_for('static', filename='js/assignment9.js') }}">
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq9BzYJbmdgg4lweRQiSqdKG2LqX6q_TI&callback=initMap">
    </script>
</body>
</html>
