<html>
<!DOCTYPE HTML>
<head>
    <title>
        Assignment 9
    </title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='js/jquery-ui-1.12.1.custom/jquery-ui.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/miniproject.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/leaflet/leaflet.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.awesome-markers.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static',filename='js/progressbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/miniproject.js') }}"> </script>
</head>
<body>
    <div id="header" >
        <h1>Brewery Finder</h1>
        <span>Color Statistic: </span>
        <select id="stat">
            <option value="beers"> Number Of Beers </option>
            <option value="age"> Years Old</option>
        </select>
        <h2>Drag person marker to search for breweries</h2>
    </div>
    <div id="overlay">
        <div id="progress"></div>
    </div>
    <div id="map" ></div>
    <img id="bdb" src="{{ url_for('static',filename='bdb.png') }}"></img>
    </body>
</html>
