@import url('https://fonts.googleapis.com/css?family=Arsenal');
body{
    font-family: Arsenal;
}

nav {
    background-color: #f0e68c;
    display: block; 
    overflow: hidden;
    padding: 1em 0em 1em 0em;
}
nav a {
    padding: 1em;
    margin: 0em 0em 0em 0em;
}

nav a:hover {
    background-color: #e0d57b;
    margin: 0em 0em 0em 0em;
    color:black;
}
nav a:visited {
    color:black;
} 

nav span {
    padding: 1em;
    background-color: #e0d57b;
    margin: 0em 0em 0em 0em;
}


.label {
    font-weight: bold;
}
#panorama {
    width: 600px;
    height: 400px;
    display:inline-block;
    vertical-align: text-top;
    margin: 10px;
    padding:20px;
    background-image:none;
}
.tile {
    text-align: top; 
    width: 600px;
    height:400px;
    background-color: #f9f9f9;
    padding:20px;
    vertical-align: text-top;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
    margin: 10px;
    display:inline-block;
    font-size: 1.5em;
    overflow: hidden;

}
.tile img {
    width: 580px;
    height: 380px;
}
#major {
}
.footer {
    width:100%;
    height:3em;
    background-color:Gray;
    color:White;
    margin-top:40px;
}
#map {
    width:100%;
    height:auto;
}
