#map {
    height: 600px;
    width: 100%;
}
#bdb {
    height:50px;
}
.logoBox {
    padding: 5px;
    text-align: center;
    font-family:serif;
    font-size: 15px;
}
.brewerLogo {
    display: block;
    margin: auto;
    width: 50px;
}

